@charset "UTF-8";
table {
    width: 75%;
    text-align: left;
}

table th {
    padding: 12px;
    border-bottom: 3px solid darkgray;
}

table td {
    padding: 12px;
}

table tr:nth-of-type(even) {
    background-color: rgba(26, 51, 163, 0.1)
}