<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs Sample</title>
    <link rel="stylesheet" href="style.css">
    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h2>숫자 배열 조작과 구구단 출력</h2>
    <div id="app">
        <ul>
            <li v-for="(item, index) in number_list">
                {{ item }} 
                <button v-on:click="modifyNumber(index)">변경</button> 
                <button v-on:click="deleteNumber(index)">삭제</button>
            </li><br>
            <button v-on:click="addNumber()">추가</button>
            <button v-on:click="sortData()">소트</button>
            <button v-on:click="showGuGu()">구구단 보이기</button>
            <ul>
                <li v-for="item in number_list" v-if="isShow">
                    <p v-for="item2 in 9">{{ item }} X {{ item2 }} = {{ item * item2 }}</p>
                </li>
            </ul>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                number_list: [2,3,4,5,6,7,8,9],
                isShow: false
            },
            methods: {
                modifyNumber: function(index) {
                    this.number_list.splice(index, 1, this.number_list[index] + 1)
                },
                deleteNumber: function(index) {
                    this.number_list.splice(index, 1)
                },
                addNumber: function() {
                    this.number_list.push(1)
                },
                sortData: function() {
                    this.number_list = this.number_list.filter (function (item, idx, array) {
                        return array.indexOf(item) == idx;
                    });
                    this.number_list.sort(function(a,b) {
                        return (a<b ? -1 : 1);
                    });
                },
                showGuGu: function() {
                    this.isShow = true;
                }
            }
        })
    </script>
</body>
</html>